<% provide(:title, 'About Us') %>
<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Asheyan | <%= yield(:title) %></title>
  </head>
  <body> -->
    <h1>About Us</h1>
    <p>
      Это страничка "Про нас". Этот текст - содержимое тэга "р" внутри тэга воdy.
    </p>
    <p>
      Что можно про нас рассказать? Мы живем на планете Земля - 13 в тентуре.
    </p>
 <!--  </body>
</html> -->