<% provide(:title, 'Contacts') %>
<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Asheyan | <%= yield(:title) %></title>
  </head>
  <body> -->
    <h1>Contacts</h1>
    <p>
      Это страничка "Contacts". По правилам описанным в ~/rails_projects/sample_app/spec/requests/static_pages_spec.rb - страничка должна содержать слово "Contacts" в контенте и также это слово в теге title
    </p>
    <p>
    	оно есть и там, и там - что обеспечивает зеленый в тесте
    </p>
<!--   </body>
</html>
 -->