<% provide(:title, 'Help') %>
<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Asheyan | <%= yield(:title) %></title>
  </head>
  <body> -->
    <h1>Help</h1>
    <p>
      Это страничка "Помощь". Здесь будет расписана структра rails-приложения.
    </p>
    <ul>
    	<li>.bundle</li>
    	<li>______________________________________________________________</li>
    	<li>app
    		<ul>
    			<li>assets
    				<ul>
    					<li>images
    						<ul>
    							<li>logo.png</li>
    							<li>dub.jpg</li>
    						</ul>
    					</li>
    					<!-- <li>javascripts</li> -->
    					<li>stylesheets
    						<ul>
    							<li>custom.css.scss</li>
    						</ul>
    					</li>
    				</ul>
    			</li>
    			<li>controllers
    				<ul>
    					<li>static_pages_controller.rb</li>
    					<li>users_controller.rb</li>
    				</ul>
    			</li>
    			<li>helpers</li>
    			<li>mailers</li>
    			<li>models</li>
    			<li>views
    				<ul>
    					<li>layouts</li>
    					<li>static_pages</li>
    					<li>users</li>
    				</ul>
    			</li>
    		</ul>
    	</li>
    	<li>______________________________________________________________</li>
    	<li>bin</li>
    	<li>______________________________________________________________</li>
    	<li>config
    		<ul>
    			<li>
    				routes.rb
    			</li>
    		</ul>
    	</li>
    	<li>______________________________________________________________</li>
    	<li>db</li>
    	<li>______________________________________________________________</li>
    	<li>lib</li>
    	<li>______________________________________________________________</li>
    	<li>log</li>
    	<li>______________________________________________________________</li>
    	<li>public</li>
    	<li>______________________________________________________________</li>
    	<li>spec</li>
    	<li>______________________________________________________________</li>
    	<li>tmp</li>
    	<li>______________________________________________________________</li>
    	<li>vendor</li>
    	<li>----</li>
    	<li>.gitignore</li>
    	<li>.rspec</li>
    	<li>Gemfile</li>
    	<li>Gemfile.lock</li>
    	<li>README</li>
    	<li>Rakefile</li>
    	<li>config.ru</li>
    </ul>
<!--   </body>
</html> -->