<% provide(:title, 'Poets') %>
<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Asheyan | <%= yield(:title) %></title>
  </head>
  <body> -->
    <h1>Poets</h1>
    <p>Это страничка poets.html.erb - она лежит в папке ~sample_app/views/static_pages/poets.html.erb</p>
	<p>в папке же ~/sample_app/spec/requests/static_pages_spec.rb есть описание - что если в тексте страницы poets.html.erb не будет слова Rembo - то при запуске:</p>
	<p>$ bundle exec rspec spec/requests/static_pages_spec.rb</p>
	<p>будет красный fail. Но поскольку слово Rembo - встречается здесь уже второй раз - все в порядке - тест passed. Все green.</p>
  <!-- </body>
</html> -->